.footer-right{
    float: right;
    text-align: right;
    color: white;
    padding-top: 10px;
    p{
    color: white;
    margin-bottom: 10px;
    font-family: 'opensans', sans-serif, arial;
    }
}
.footer-left{
	font-family: 'opensans', sans-serif, arial;
    em{
        color:white;
        font-family: 'opensans', sans-serif, arial;
        font-size: 16px;
    }
}
.socialalign{
  margin-top: 20px;
  margin-bottom: 40px;
}
.socialalign a{
  margin-left: 5px;
}
.footerlogo{
  margin-bottom: 20px;
}
#footerBottom .container > div {
  padding: 25px 0 0px 0px;
}
#footercopy{
    font-style: italic;
    text-align: center;
    font-family: 'opensans', sans-serif, arial;
    color: $black;
    font-size: 1rem;
    padding: 10px 0px;
}

footer {
  display: block;
  clear: both;
  position: relative;
  -moz-box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
  box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
  background-color: $main-background-color;

  .socialicons{
      margin-top:10px;
    img{
        width: 38px;
        height: 38px;
    }
  }
    #footerTop {
        background: $white-text;
        padding: 25px 0 10px;

        .footer-right {
            text-align: right;
        }
    }
    #footerMenu{
        background-color: $light-primary-color;
        ul{
        width: 100%;
        text-align: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        justify-content: center!important;
            li{
            color: $primary-color;
            display: inline-block;
            float: left;
            position: relative;
            margin-right: 20px;
            font-family: 'opensans', sans-serif, arial;
                a{
                    display: inline-block;
                    font-weight: bold;
                    font-family: 'opensans', sans-serif, arial;
                    text-transform: uppercase;
                }
            }
        }
    }
    .phone{
        color: white;
        font-size: 28px;
        font-family: 'opensans', sans-serif, arial;
    }
    .address{
        margin-bottom: 10px;
        font-family: 'opensans', sans-serif, arial;
        font-size: 16px;
    }
    .footertitle{
        font-size: 20px;
        color: white;
        margin-bottom: 0px;
        margin-top: 30px;
    }
    #footerBottom {
        background: $main-background-color;

        #footer-navigation {
            text-transform: uppercase;
            float: right;
        }
        #footerCopyInfo {
            padding: 10px 0 30px;

            #footercopy {
                margin-bottom: 0;
                text-align: right;
                color: $white-text;
                padding-bottom: 20px;
                float: left;
            }
        }
    }
    .footer-menu {
        margin-bottom: 30px;

        li {
            display: inline-block;

            a {
                color: $white-text;
                padding: 10px 15px;
                font-size: 0.875rem;

                &:last-child {
                    padding: 10px 0 10px 15px;
                }
                &:hover {
                    color: $white-text;
                    text-decoration: none;
                }
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    footer {
        #footerTop {
            .footer-right {
                text-align: left;
            }
        }
        #footerBottom {
            #footerCopyInfo {
                #footercopy {
                    float: none;
                    text-align: center;
                }
            }
            #footer-navigation {
                float: none;
                text-align: center;
                .footer-menu {
                    padding: 0;
                    margin-bottom: 0;

                    a {
                        padding: 10px 8px;
                    }
                }
            }
        }
    }
}
