@media only screen and (max-width: $screen-lg-min) {
    .book_now_banner .book_now_text {
        text-align: center;
    }
    .book_now_banner a.button {
        display: block;
        margin: auto;
        float: none;
        width: 210px;
    }
    .col-xs {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 49%;
        max-width: 49%;
        margin-left: 1%;
        margin-bottom: 10px;
        height: 55px;
    }
    .sliderbutton {
        line-height: 8px!important;
        padding: 5px 12px!important;
        font-size: 12px!important;
        margin-top: 10px!important;
    }
    .dropdown-menu {
        display: block!important;
        position: relative!important;
    }

    #headerTop {
        background: white;
        height: auto;
        .left{
            float: none;
            margin: auto;
            width: 350px;
        }
        #logo {
            display: inline-block;
            margin: 0px 0 0px;
            width: 400px;
            position: relative;
            z-index: 99999;
            top: 0px;
        }
        .right {
            float: none;
            margin-top: 10px;
            padding-bottom: 5px;
            padding-top: 30px;
            margin: auto;
            width: 600px;
        }
    }
    .HearingForm .formbutton {
        margin-left: 0px;
    }
    .floatingear {
        float: right;
        position: absolute;
        right: -10px;
        width: 225px;
        top: 145px;
    }
    
}

@media only screen and (max-width: $screen-md-min) {
    .HearingForm .col-xs {
            margin-bottom: 10px;
    }
    #headerTop #logo {
            display: inline-block;
            margin: 0px 0 0px;
            width: 325px;
            float: none;
            margin: auto;
            display: block;
    }
    #headerTop .container .left {
            padding: 0;
            float: none;
    }
    #headerTop .right {
            float: none;
            margin-top: 0px;
            padding-bottom: 5px;
            padding-top: 0px;
            margin: auto;
            width: 495px;
    }
    .footer-right {
        float: none;
        text-align: center;
        color: white;
    }
    .footer-left .textwidget, .footer-right .textwidget {
        margin: auto;
        text-align: center;
    }
    #footercopy {
        font-size: 0.8rem;
        text-align: center;
    }
    .book_now_banner .book_now_text {
        color: #fff;
        font-size: 24px;
        float: left;
        margin-top: 3px;
    }
}

@media only screen and (max-width: $screen-sm-max) {
    .redbackground {
        position: absolute;
        background-color: #8F2538;
        height: 125px;
        width: 300%;
        left: -200%;
    }
    footer #footerMenu ul {
        width: 100%;
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: column;
        justify-content: center !important;
        li{
             margin-right: 0px;
        }
    }
    .floatingear {
        top: 275px;
    }
    .col-xs {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 100%;
        max-width: 100%;
        margin-left: 0%;
        margin-bottom: 10px;
        height: 55px;
    }
    #floatingAppointment{
        display: none;
    }
}

@media only screen and (max-width: $screen-xsm-max) {
        .book_now_banner .col-7, .book_now_banner .col-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 58.333333%;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .redbackground {
        position: absolute;
        background-color: #8F2538;
        height: 175px;
        width: 300%;
        left: -200%;
    }
    .Addressbox {
        height: 75px;
        margin-bottom: 125px;
        z-index: 999999;
        padding: 25px 0px;
        position: relative;
        color: white;
    }
    #headerTop .right {
        float: none;
        margin-top: 10px;
        padding-bottom: 5px;
        padding-top: 30px;
        margin: auto;
        width: 100%;
    }
    #callToAction {
        float: none;
        display: block;
        margin-bottom: 20px;
        text-align: center;
    }
    #slide-1-layer-3, #slide-2-layer-1, #slide-3-layer-4 {
        font-size: 14px!important;
        line-height: 16px!important;
    }
    .sliderbutton{
        line-height: 8px!important;
        padding: 5px 10px!important;
        font-size: 10px!important;
        margin-top: 10px!important;
    }
    #longform {
        transform: scale(0.80);
        -webkit-transform: scale(0.80);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
    .col-sm-12,
    .col-xsm-12,
    .col-md-12,
    .col-lg-12 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
