@import url('https://fonts.googleapis.com/css?family=Lato|Lora');


@import "partials/mixins";
@import "partials/blog";
@import "partials/contact_forms";
@import "partials/flex";
@import "partials/footer";
@import "partials/header";
@import "partials/hearing_quiz";
@import "partials/misc";
@import "partials/navbar";
@import "partials/typeography";
@import "partials/common_elements";
@import "partials/shortcode";
@import "partials/responsive";



body{
    margin: 0;
    font-family: 'Lato', arial, sans-serif;
}
main{
    min-height: 440px;
}
p {
    line-height: 26px;
    font-family: 'Lato', arial, sans-serif;
    color: #545454;
    font-size: 1.25rem;
}
img{
	max-width: 100%;
	height: auto;
}
b, strong {
    font-weight: bold;
}
em{
  font-style: italic;
}
.left {
    float: left;
}
.right {
    float: right;
}


.redul li{
    line-height: 28px;
}

#pageContent{
    padding-top: 50px;
}

.page-id-19 #pageContent{
    padding-top: 0px;
}

.book_now_banner .book_now_text {
    font-family: 'Open Sans', arial, sans-serif;
}



img.aligncenter{
    margin: 0 auto;
    display: block;
}

.ares.tp-bullets {
    margin-left: 23.5%;
}